body {
  position: relative;
}
.article01 {
  position: static;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: sandybrown;
}
/*Das Eltenelement ist hier body.
Ist kein Eltern-Element vorhanden, wird das Element relativ zum Viewport, dem Webbrowser-Fenster ausgerichtet.
Anwendungsfall: Beschriftung über ein Bild legen.*/
.article02 {
  position: absolute;
  bottom: 10px;
  left: 100px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: bisque;
}

.article03 {
  position: static;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: aliceblue;
}

.foothead {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  background-color: brown;
}
